name: Build Node
on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: node:20
    steps:
      - uses: actions/checkout@v3
        with:
          node-version: 20
      - run: npm install
      - run: npm run build
      - name: Update output.json
        uses: actions/upload-artifact@v4
        with:
          name: output
          path: output.json
      - name: Commit and push output.json
        run: |
          git config --global --add safe.directory /__w/${{ github.repository }}/${{ github.repository }}
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

          git add output.json
          if git diff --cached --quiet; then
            echo "No changes to commit."
          else
            git commit -m "Update build artifact: output.json"
            git push
          fi
     
